html {
  font-family: "helvetica neue"
}

body {
  background-color: white;
  background-image: url(test2.jpg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 100%;
}
.arminboy {
  border: 0;
  background-color: transparent;
  color: transparent;
}

.arminboy:hover {
  border: 0;
  background-color: transparent;
  color: black;
}

.col {
  style="position:absolute"
}

.selection {
  style="position: absolute; top: 0px; right:0px"
}




/* Anpassungen für die Tabelle
  bzw. den Wocehenplaner */
table, th, td {
  border: 1px solid black;
  border-color: #20b2aa;
  border-width: 1px;
  border-style: dotted;
  padding: 15px;
  background-color: rgb(250, 240, 230);
}

#datum {
  text-align: center;
  color: white;
  font-family: "Sacramento", cursive;
  font-size: 2vw !important;
}

#ueberschriftstart, .hauptüberschrift {
  text-align: center;
  font-family: "Cookie", cursive;
  font-size: 8vw;
}

.üb, #datum {
  color: white;
  .padding-top: 0px !important;
}

.zweiüb {
  text-align: center;
  color: white;
  font-family: "Sacramento", cursive;
  font-size: 4vw;
}

.adr {
  vertical-align: right;
  text-align: right;
  color: black;
}

.adr {
  vertical-align: right;
  text-align: right;
  color: black;
}

.plz {
  vertical-align: right;
  text-align: right;
  color: black;
}

.land {
  vertical-align: right;
  text-align: right;
  color: black;
}

.navbar {
  font-family: "Roboto", sans-serif;
  padding-top: 0px !important;
}

.navbar-brand {
  font-family: "Pacifico";
  padding-top: 0px !important;
}

#spalten {
  font-family: "Neucha", cursive;
}

.bild {
  position: relative;
  top: 10px;
  left: -330px;
}

.label {
  font-family: "Cookie", cursive;
  font-size: 4vw;
}

.einreichen {
  border: 1px solid blue;
  font-family: "Cookie", cursive;
  color: white background-color: blue;
  text-align: center;
}

.infohaupt {
  font-family: "Cookie", cursive;
  font-size: 5vw;
  text-align: center;
  color: white;
}

.text {
  font-family: "Cookie", cursive;
  font-size: 3vw;
  text-align: center;
}

#logo {
  width: 55px;
  height: 55px;
}

.infoueberschrift {
  font-family: "Cookie", cursive;
  font-size: 10vw;
  text-align: center;
  color: white;
}

.infolink {
  font-family: "Cookie", cursive;
  font-size: 8vw;
  text-align: center;
  color: black;
}

.btn-primary {
  text-align: center;
  font-family: "Cookie", cursive;
  font-size: 2vw;
  margin-top: 4vw;
}

.info1 {
  font-size: 1vw;
  color: white;
}

.info2 {
  font-size: 1vw;
  color: white;
}

.info3 {
  font-size: 1vw;
  color: white;
}

.info1 {
  font-size: 1vw;
  color: black;
}

.info2 {
  font-size: 1vw;
  color: black;
}

.info3 {
  font-size: 1vw;
  color: black;
}

.letztezeile {
  color: black;
}

#zeitbisHelp, #prioHelp, #zeitvonHelp, #nameHelp, #tagHelp {
  font-family: "Neucha", cursive;
  font-size: 2.5vw;
}

.divprint {
  max-width: 100%;
  height: auto;
  left: 0px;
  right: 0px;
  margin-top: 80px;
  align: left;
}

.printen {
  max-width: 100%;
  height: auto;
  left: 0px;
  right: 0px;
}
footer {
  background-color: #FFE4E1;
}
.ueberschrift{
  font-family: "Cookie", cursive !important;
  text-align:center;
}
p {
  text-align:center;
  font-size:1.5rem;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#print {
  align-self: center !important;
  border: 1px solid white;
  font-family: "Cookie", cursive;
  font-size: 1.5rem;
  color: black;
  background-color: white;
  text-align: center;

}
