/* Hierbei handelt es sich um die CSS-Datei für die Startseite der Anwendung basierend auf Google Material Design */

<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

html {
  font-family: "helvetica neue"
}

body {
  background-color: white;
   /* Da eine Woche 7 Tage hat.*/
.kalender {
  display: grid;
  grid-template-columns: 8ch auto;
}
}

/* Anpassungen für die Tabelle
  bzw. den Wocehenplaner */

table, th, td {
  border: 1px solid black;
  padding: 15px;
}

#ueberschriftstart{
  text-align: center;
  font-family: "Cookie", cursive;
}
