/* Hierbei handelt es sich um die CSS-Datei für die Startseite der Anwendung basierend auf Google Material Design */

<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

html {
  font-family: "helvetica neue";
}

body {
  background-color: white;
  background-image: url(test2.jpg.jpg);
  background-repeat:no-repeat;
  background-size: 100% 100%;
  margin-bottom: 100%;
}
header{
  background-color: rgba(18, 163, 168, 0.39);
  height:100%;
  width:100% !important;
;
  
}
.header{
  padding-top:150px;
  font-family: "Cookie", cursive;
  text-align:center !important;

}
.header p{
  color:black;
  font-size: 20px;

}

main{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left:20px;
  margin-right:20px;

}
#logo{
  width:55px;
  height:55px;;
}
#zeit{
  width:500px;
  height:500px;
  text-align: center;
}
.Information{
 height:60%;
 width:100%;
}
.Information2{
  height:60%;
  width:100%;
}
.abschnitt2{
  padding-top:50px;
}
.skills{
  font-family: "Cookie", cursive;
  font-size: 4vw;
  text-align: center;
  color: white;

}
   /* Da eine Woche 7 Tage hat.*/
.kalender {
  display: grid;
  grid-template-columns: 8ch auto;
}
<<<<<<< HEAD
}

/* Anpassungen für die Tabelle
  bzw. den Wocehenplaner */

table, th, td {
  border: 1px solid black;
  padding: 15px;

}
td{
  width:20px;
}


=======
>>>>>>> de395838cdb2f2fcbfb7b05ee05c20dc080cc1f2
#ueberschriftstart, .hauptüberschrift{
  text-align: center;
  font-family: "Cookie", cursive;
  font-size: 8vw;
}

.navbar {
  font-family: "Roboto", sans-serif;
}

.navbar-brand {
  font-family: "Pacifico";
}

#spalten {
  font-family: "Neucha", cursive;
}

#uhrzeit{
  font-family: "Sacramento", cursive;
  font-weight: bold;
}

.label {
  font-family: "Cookie", cursive;
  font-size: 4vw;
}

.einreichen {
  border: 1px solid blue;
  font-family: "Cookie", cursive;
  color: white;
  background-color: blue;
  text-align: center;
}

.infohaupt {
  font-family: "Cookie", cursive;
  font-size: 4vw;
  text-align: center;
  color: white;
}
.text {
  font-family: "Handlee", cursive;
  font-size: 1.5vw;
  text-align: center;
}

.infoueberschrift {
  font-family: "Cookie", cursive;
  font-size: 10vw;
  text-align: center;
  color: white;
}

.infolink{
  font-family: "Cookie", cursive;
  font-size: 2.5vw !important;
  text-align: center;
  color: black;

}

.btn-primary{
  text-align: center;
  font-family: "Cookie", cursive;
  margin-top: 2vw;
  padding-left:5px;
  padding-right:5px;
  width: auto !important;
  height: auto !important;
}
.buttonHead{
  align-self: center;
  text-align: center;
  position:absolute;
  font-family: "helvetica neue";
  font-size:1vm;
}
.button{
  text-align: center;
  position:absolute;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top:10px;
  font-family: "helvetica neue";
  font-size:1vm;
  
}
#zeitbisHelp, #prioHelp, #zeitvonHelp, #nameHelp, #tagHelp {
  font-family: "Neucha", cursive;
  font-size: 2.5vw;
}
.textblock{
  margin-left:32px;
  margin-right: 32px;
  width:100%; 
  height:20%;
  color:white;
  font-family: "Cookie", cursive;
  font-size: 40px;
}
.textblock-content{
  text-align: left;
  position:absolute;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top:10px;
}
.BildMitte{
  text-align:center;
}



